@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 background-color: black;
 color: white;
 --chart-label-color: var(--chart-label-color-light);  /* Light mode text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --chart-label-color: var(--chart-label-color-dark);   /* Dark mode text color */
  }
}
.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.container img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 256px; /* Adjusted to emulate w-32, md:w-48, lg:w-64 */
  display: block;
}

@media screen and (max-width: 768px) {
  .container img {
      display: none;
  }
}

.text-content {
  max-width: calc(100% - 256px);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* my styling */ 
 
 .chart-container {
  max-width: 900px;
  height: 800px;
  text-align: center;
}

 

/* Media query for smaller screens */
 
/* Inside your CSS file or style block */
 
/* For screens smaller than 768px (up to 767px), adjust bar width and y-axis label font size */
@media (max-width: 767px) {
  #chart-container {
    /* Remove width and height adjustments for mobile screens */
  }

  .chart-container .y-axis-label {
    font-size: 10px; /* Adjust the font size as needed for smaller screens */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) to indicate overflow */
  }
}

/* For screens smaller than 600px, adjust bar width and chart container size */
@media (max-width: 600px) {
  #chart-container {
    max-width: 100%;
    height: auto;
  }

  .chart-container .y-axis-label {
    font-size: 10px; /* Adjust the font size as needed for smaller screens */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) to indicate overflow */
  }
}
